.content-sp {
    background-color: #a379c9;
    width: 75%;
    margin: 3%;
    padding: 4%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.grid-item {
    text-align: center;
}

.subtitle {
    grid-column: 1 / span 3;
}